* {
    /*outline: 1px solid red;*/
    margin: 0;
    padding: 0;
    max-height: 100%;
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

.header, .hero{
    background-color: #1F2937;
}

.header-margin{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 30px;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-right > img {
    height: 100px;
    width: 100px;
}