* {
    /*outline: 1px solid red;*/
    margin: 0;
    padding: 0;
    max-height: 100%;
}

body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

.header, .hero, footer{
    background-color: #1F2937;
}

.header-margin{
    display: flex;
    justify-content: space-between;
    margin: 20px 200px;
}

.header-logo{
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    list-style-type: none;
}

.margin-wrapper{
    margin-left: 200px;
    margin-right: 200px;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-right > img {
    height: 100px;
    width: 100px;
}

.footer-margin{
    margin-left: 200px;
    margin-right: 200px;
}
